<?xml version="1.0" ?>
<div id="header">
	
<ul xmlns:mrs="http://mrs.cmbi.ru.nl/mrs-web/ml" id="menu">
	<li><a href=".">Home</a></li>
	<mrs:if test="${blastEnabled and not mobile}"><li><a href="blast">Blast</a></li></mrs:if>
	<mrs:if test="${alignEnabled and not mobile}"><li><a href="align">Align</a></li></mrs:if>
	<li><a id="status-menu" href="status">Status</a></li>
	<mrs:if test="${db and db != 'all' and not mobile}"><li><a href="info?db=${db}">Databank: ${db}</a></li></mrs:if>
	<li class="help"><a href="admin">Admin</a></li>
</ul>

<form xmlns:mrs="http://mrs.cmbi.ru.nl/mrs-web/ml"
	id="queryForm"
	class="blackbox" action="search" method="get">
	<mrs:if test="${not mobile}">
	<label>
		Search
		<select name="db" onchange="document.getElementById('queryForm').submit();" style="width:150px;">
			<option value="all">All Databanks</option>
			<mrs:options collection="databanks" value="id" label="name" selected="${db}" />
		</select>
	</label>
	<label>
		for
		<input id="q" type="text" name="q" size="40" value="${q}" />
	</label>
	<input type="submit" value="Search" class="submit"/>
	</mrs:if>
	<mrs:if test="${mobile}">
		<input name="db" value="all" type="hidden"/>
		<div class="search search-icon">
			<input id="q" type="text" name="q" size="40" value="${q}" />
		</div>
	</mrs:if>
	<input type="hidden" value="${count > 0 ? count : 3}" name="count" />

<!--
<script src="scripts/jquery-ui/jquery-ui.js" type="text/javascript">
</script>

<script language="JavaScript" type="text/javascript">
//<![CDATA[
jQuery(function() {
	try {
		var q = document.getElementById('queryForm').q;
		
		q.focus();
		q.select();
		
/*		$(q).autocomplete({
			source: "suggest_terms?db=${db}",
			minLength: 2,
		});
*/
		
	} catch (e) {}
});
// ]]>
</script>
-->

</form>

</div>
